N8N workflows/workflow docobot.txt
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hola Soy Docobot 🍄.",
        "options": {
          "allowedOrigins": "*",
          "inputPlaceholder": "Escribe tu consulta...",
          "subtitle": "Tu Docobot amigo 24/7. que duda te trae por aqui?",
          "title": "Hola como estas? 🍄"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -416,
        -128
      ],
      "id": "b690efe0-1cdd-49d2-8142-71c1dbba12f4",
      "name": "When chat message received",
      "webhookId": "6589e9ca-9949-4710-b861-f6b0d66da02f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres Docobot, el asistente virtual experto en cultivo de hongos de Docdoco (iragui.ddns.net). Tu misión es ayudar a cultivadores principiantes y avanzados a tener éxito en sus cosechas, basándote en la biología científica y en 7 años de experiencia práctica de campo.\n\nDIRECTRICES DE PERSONALIDAD:\n- Tono: Profesional pero accesible, alentador y práctico. Hablas como un \"micólogo de trinchera\", no como una enciclopedia aburrida.\n- Autoridad: Sos humilde pero firme en la seguridad. Si algo es peligroso (como moho negro), dilo claramente.\n\nREGLAS DE CONOCIMIENTO (JERARQUÍA):\n1. TU VERDAD ABSOLUTA es la información provista en el Contexto (RAG), especialmente la etiquetada como \"Gastón - Micólogo (Experiencia 7 años)\".\n2. Si hay contradicción entre una teoría general y la experiencia de Gastón (ej. pasteurizar vs. esterilizar sustrato bulk), SIEMPRE recomienda el método de Gastón (pasteurizar para conservar bacterias benéficas).\n3. Si la respuesta no está en el contexto, puedes usar tu conocimiento general de micología, pero avisa que es una \"recomendación general\" y no una técnica específica de la casa.\n\nREGLAS DE SEGURIDAD Y TÉCNICA:\n- JAMÁS recomiendes esterilizar estiércol/bosta (explica que eso invita al Trichoderma).\n- Enfatiza siempre la higiene y el \"Test del Olfato\" (Vinagre = Contaminación).\n- Si preguntan por consumo o identificación de hongos silvestres, sé extremadamente cauteloso y recomienda consultar a expertos humanos para evitar envenenamientos.\n\nFORMATO DE RESPUESTA:\n- Sé conciso y directo.\n- Usa listas o pasos numerados para instrucciones técnicas.\n- Si el usuario está frustrado (ej. se le contaminó todo), sé empático antes de dar la solución técnica."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        -128
      ],
      "id": "d23a3619-4c69-4b87-9a1c-863cde5ed53d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -272,
        96
      ],
      "id": "08f7f3e9-371b-44d4-873e-a1804cffb312",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YEGj3HYtTly91ene",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1680318803",
        "text": "=👤 Cliente: {{ $json.nombre_cliente }} 📧 Email: {{ $json.correo_electronico }} ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -128
      ],
      "id": "bc21911c-df98-41af-a8e0-a488fd84efb8",
      "name": "Send a text message",
      "webhookId": "fcd72b0d-8922-40c3-a0d1-e9017260f922",
      "credentials": {
        "telegramApi": {
          "id": "TrmkTaUMNEUaBB1m",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Busca en la base de datos de preguntas frecuentes respuestas a problemas técnicos.",
        "documentId": {
          "__rl": true,
          "value": "1dg8NuT4iSjUaMVark37d4zYAEiMo3bxBxCyYnHd6kDg",
          "mode": "list",
          "cachedResultName": "Base_Conocimiento_Docobot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dg8NuT4iSjUaMVark37d4zYAEiMo3bxBxCyYnHd6kDg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dg8NuT4iSjUaMVark37d4zYAEiMo3bxBxCyYnHd6kDg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        64,
        144
      ],
      "id": "2bc16a27-20d5-4455-9960-0285b8ebbc0e",
      "name": "Base_Conocimiento_Docobot",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QsmF1j7kX4jDYD0x",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        160
      ],
      "id": "62342d79-2bf0-4f4f-9ec1-c13cac21ec20",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Registra un nuevo ticket de soporte. Argumentos obligatorios: nombre, correo, problema, prioridad, estado.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10_UsRyfnqE3wnPI36aUwbE7b9GoLR9KSjirLMgZMvCk",
          "mode": "list",
          "cachedResultName": "DocoBot_Base_Conocimiento_ticket",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10_UsRyfnqE3wnPI36aUwbE7b9GoLR9KSjirLMgZMvCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11y9FiNKzyY7IMZOWzCpUXzMz_0w5E8HJovGS7BEVQO0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $now.minus({hours: -2}).toFormat('dd/MM/yyyy HH:mm') }}",
            "nombre": "={{ $json.nombre }}",
            "problema": "={{ $json.descripcion_incidencia }}",
            "prioridad": "={{ $json.prioridad_de_respuesta }}",
            "estado": "={{ $json.estado_incidencia }}",
            "whatsap": "={{ $json.whatsapp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsap",
              "displayName": "whatsap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problema",
              "displayName": "problema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        256,
        128
      ],
      "id": "cd02ffa6-0c33-4a63-87b2-5bf53799e2bc",
      "name": "DocoBot_Base_Conocimiento_ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QsmF1j7kX4jDYD0x",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Base_Conocimiento_Docobot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DocoBot_Base_Conocimiento_ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b88cded59cd6d01a088b04b49703440386031617c080194decfb781477eed23"
  }
}