N8N workflows/workflow agente insta Uronweb.txt
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -208
      ],
      "id": "1aabe8c7-216a-4125-9906-a6730716c2c6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\Administrador\\.n8n-files\\post_uronweb.mp4",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -576,
        -208
      ],
      "id": "523201c5-8c94-40e2-8cf8-6a620efc14c7",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -320,
        -112
      ],
      "id": "3cc098b1-5d92-48a9-bb78-885bb686e2d2",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "\"Actuá como el Community Manager de Uronweb. Somos expertos en soporte técnico de servidores Windows/Linux, redes y automatizaciones con n8n. Escribí un caption para un Instagram Reel que sea técnico pero vendedor. Usá un tono profesional y directo. No uses más de 90 palabras. Incluí 15 hashtags específicos del sector (ej: #SysAdmin #n8n #Uronweb). Enfocá el mensaje en que ayudamos a empresas a escalar con tecnología estable.\" ",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -112,
        -112
      ],
      "id": "73f458c9-560e-41d1-9c4a-087b02429e51",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        96
      ],
      "id": "3989f1cb-75c7-44c5-98fa-9d8f86bc3d7c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YEGj3HYtTly91ene",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Administrador\\.n8n-files\\instagram_pendiente\\*.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -784,
        0
      ],
      "id": "51abd5b4-d417-4c55-9750-c71aac5b8b01",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "amount": 70
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        -16
      ],
      "id": "34516bb8-4755-474d-9742-cbdade899f21",
      "name": "Wait",
      "webhookId": "050ed6fb-6911-4854-a1c2-0c2ffd876e32"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478077629622/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "http://iragui.ddns.net/publico/post_uronweb.mp4"
            },
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "caption",
              "value": "={{ $json.text }}"
            },
            {
              "name": "access_token",
              "value": "EAATl3ZAn2MksBQuKXDGcGkO7dAXmPztqiRaTA2IJafn7QkGsJdmVsQHSOLDDKErVC7KFm6AC4YjG8XGUKBkuZAvl4fQceeYrVoBR9cMYndzgkMCokJMMZAXLZCjMBDD7xZC8tZACzIyFZAgJdmnGMNd9DOVCedfFFfZCoretAgUZCP8F3KDC28mYwME6hzuNUESbXTueQvS3zCbiiezBe5EXKBTo0IXFiOLqaouXZCYGymS7CYLQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        -112
      ],
      "id": "2c6d4d32-1c02-4a0b-bd5f-e5a76b9df632",
      "name": "HTTP Request POST /media"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/17841478077629622/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAATl3ZAn2MksBQuKXDGcGkO7dAXmPztqiRaTA2IJafn7QkGsJdmVsQHSOLDDKErVC7KFm6AC4YjG8XGUKBkuZAvl4fQceeYrVoBR9cMYndzgkMCokJMMZAXLZCjMBDD7xZC8tZACzIyFZAgJdmnGMNd9DOVCedfFFfZCoretAgUZCP8F3KDC28mYwME6hzuNUESbXTueQvS3zCbiiezBe5EXKBTo0IXFiOLqaouXZCYGymS7CYLQZDZD"
            },
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -112
      ],
      "id": "0da4c57e-4f7c-4a22-9103-57c734e6803a",
      "name": "HTTP Request /media_publish"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request POST /media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request /media_publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request POST /media": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request /media_publish": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b88cded59cd6d01a088b04b49703440386031617c080194decfb781477eed23"
  }
}